KVAI_API_KEY=change-me
KVAI_DISCOVERY_BACKEND=etcd
KVAI_ETCD_ENDPOINTS=http://etcd:2379
KVAI_ADVERTISE_HOST=rangeveckv
KVAI_NODE_WEIGHT=100
KVAI_NODE_ZONE=default
KVAI_DATA_MIGRATION_ENABLED=false
KVAI_MIGRATION_DELETE_DELAY_MS=300000
KVAI_CLUSTER_SLOT_COUNT=4096
KVAI_CLUSTER_NODES=node-local@127.0.0.1:8080
KVAI_TLS_MODE=disabled
KVAI_AI_BACKEND=onnxruntime
KVAI_MODEL_PATH=/opt/rangeveckv/models/chinese-clip-vit-base-patch16/model_quantized.onnx
KVAI_TOKENIZER_PATH=/opt/rangeveckv/models/chinese-clip-vit-base-patch16/vocab.txt
DEBIAN_MIRROR=http://mirrors.tuna.tsinghua.edu.cn/debian
DEBIAN_SECURITY_MIRROR=http://mirrors.tuna.tsinghua.edu.cn/debian-security
